* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 1em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.header-logo {
    width: 3em;
}

.header-links {
    display: flex;
    gap: 2em;
}

a {
    text-decoration: none;
    color: white;
}

.herotext {
    color: white;
    font-size: 1.5rem;
    padding: 1em;
}

.HEROTEXTMAIN {
    font-size: 3rem;
    font-weight: 800;
}

p {
    margin: 1.5rem 0;
    text-align: center;
}

#who {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 7rem 0 0;
    gap: 2em;
    height: 100vh;
}

.heropic {
    max-width: 40%;
}

button {
    font-family: inherit;
    font-size: 2rem;
    padding: 1em 3em;
    background-color: rgb(47, 144, 255);
    color: white;
    margin: 0 auto;
    display:block;
    border-radius: 1.5em;
    border: none;
}

button:hover {
    background-color: red;
}

button:active {
    background-color: green;
}

#what {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em 0;
    background-color: white;
    height: 100vh;
}

.whattext {
    font-size: 4rem;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 2em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 1);
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
    transform: translateY(-20px);
    transition: transform 0.4s cubic-bezier(0.29, 3.31, 0.41, -0.45);
}

.box1:active,
.box2:active,
.box3:active,
.box4:active {
    transform: translateY(-20px);
    transition: transform 0.4s cubic-bezier(0.29, 3.31, 0.41, -0.45);
}

.whatimagetext {
    color: #1F2937;
    font-weight: bold;
    margin: 1.5rem 0 0;
}

.whatimage {
    width: 80px;
    object-fit: contain;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 3px rgba(148,0,211,1),
0px 0px 0px 6px rgba(75,0,130,1),
0px 0px 0px 9px rgba(0,0,255,1),
0px 0px 0px 12px rgba(0,255,0,1),
0px 0px 0px 15px rgba(255,255,0,1),
0px 0px 0px 18px rgba(255,127,0,1),
0px 0px 0px 21px rgba(255,0,0,1);
}

#why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 7em 0 0;
    height: 100vh;
    gap: 2em;
}

.quote {
    font-size: 1.5rem;
    color: #1f2937;
    width: 75%;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

.quoteauthor {
    font-size: 1.5rem;
    color: #1f2937;
    text-align: end;
    font-weight: 900;
    padding-right: 1em;
}

.bonus {
    font-size: 0.75rem;
    color: #1f2937;
    text-align: end;
    padding-right: 2em;
    position: relative;
    top: -2.5em;
}

.lastbutton {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1em 2em;
    background-color: rgb(47, 144, 255);
    color: white;
    margin:0;
    display:block;
    border-radius: 25px;
    border: solid 5px white;
}

#how {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(47, 144, 255);
    padding: 7em 2em;
    align-items: center;
    height: 100vh;
}

.howcontainer {
    background-color: rgb(47, 144, 255);
    display: flex;
    border-radius: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 5em;
    
}

.textleft1 {
    font-weight: 800;
    color: white;
    font-size: 2rem;
}

.textleft2 {
    color: white;
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 7em 0;
    color: white;
    font-size: 2rem;
    text-align: center;
    height: 100vh;
    gap: 1em;
}

@media screen and (max-width: 600px) {
    #who {
            flex-direction: column;
        }

    .heropic {
                max-width: 100%;
            }
}

@media screen and (min-width: 1280px) {
    #who, #what, #why, #how {
        height: 100vh;
    }
    .HEROTEXTMAIN, .quote {
        font-size: 4em;
    }
    .whatimagetext {
        margin: 3rem;
        font-size: 3em;
    }
    .whattext {
        font-size: 6em;
        padding-bottom: 1em;
    }
    .whatimage {
        width: 200px;
    }
    .quoteauthor {
        font-size: 3rem;
        padding-right: 3em;
    }
    .bonus {
        font-size: 1.5;
        padding-right: 12em;
    }
    .textleft1 {
        font-size: 5rem;
    }
    .textleft2 {
        font-size: 3rem;
    }
}