header {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #1F2937;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.header-logo {
    width: 50px;
    padding: 75px;
}

.header-links {
    display: flex;
    padding: 75px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

body {
    margin: 0;
}

.herotext {
    color: antiquewhite;
    padding-left: 75px;
}

#who {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 75px;
}

.heroimage {
    padding-right: 75px;
}

.heropic {
    width: 750px;
}